.admin-container {
  scroll-behavior: smooth;

  display: flex;
  .admin-sidebar {
    .pro-sidebar {
      height: 100vh !important;
    }
  }
  .admin-content {
    width: 100%;

    .admin-header {
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0 20px 10px;
      border-bottom: 1px solid #ccc;
      .left-side {
        cursor: pointer;
        font-size: 22px;
        color: #666;
      }
      .right-side {
        display: flex;
        gap: 15px;
      }
    }
    .admin-main {
      margin-bottom: 20px;
      height: calc(100vh - 60px);
    }
  }
}
