.login-container {
  .header {
    height: 45px;
    display: flex;
    align-items: center;
    color: #4c4c4c;
    justify-content: flex-end;
    padding: 8px 24px;
    border: 1px solid red;
    .text {
      color: #4c4c4c;
      font-size: 14px;
      padding: 0px 5px 0px 0px;
    }
    .btn-signup {
      background-color: #ffffff;
      border-radius: 2px;
      color: #262627;
      font-size: 12px;
      line-height: 14px;
      padding: 8px 12px 6px;
      outline: none;
    }
  }
  .title {
    font-size: 25px;
    padding: 20px 0;
    text-align: center;
  }
  .welcome {
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
  }
  .content-form {
    display: flex;

    justify-content: center;
    flex-direction: column;
    gap: 15px;
    .forgot-password {
      color: #777777;
      display: inline;
      font-size: 14px;
      line-height: 19.6px;
      text-decoration-line: underline;
    }
    .btn-submit {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      background-color: #262627 !important;
      border-radius: 3px;
      color: #ffffff !important;
      line-height: 28px;
      text-align: center;
      outline: none;
    }
  }
}
