.signup-container {
  display: flex;
  height: 100%;

  .left-signup-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .right-signup-layout {
  }
}
