.detail-quiz-container {
  display: flex;
  gap: 20px;
  padding: 50px;
  .left-content {
    border: 2px solid #ccc;
    width: 70%;
    border-radius: 5px;
    padding: 20px;
    .title {
      color: #333333;
      font-size: 25px;
      font-weight: 700;
      line-height: 32.5px;
      margin: 0px 0px 25px;
    }
    .q-body {
    }
    .q-content {
      .question {
        font-size: 20px;
        font-weight: 600;
      }
      .answer {
      }
      .q-img img {
        width: 400px;
        height: 300px;
        object-fit: cover;
      }
    }
    .footer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
  }
  .right-content {
    border: 1px solid #2cccff;
    width: 30%;
  }
}
